.search-header {
    display: flex;
    align-content: center;
}

.search-form {
    align-content: center;
    width: 50%;
    padding: 10px
}

a.header-title {
    color: blueviolet;
    width: 50%;
    padding: 10px;
    font-size: 32px;
    text-shadow: rgb(119, 0, 255) 1px 0 1px;
}

a.header-title:hover {
    color: brown;
    text-shadow: #FC0 1px 0 10px;
}