.nav-button.active {
    /* color: brown; */
    background-color: brown;
    box-shadow: #FC0 1px 0 10px;
}

.nav-button:hover {
    /* color: brown; */
    /* background-color: brown; */
    background-color: rgb(109, 28, 28);
    box-shadow: #FC0 1px 0 10px;
}